<!DOCTYPE html>
<html>
<head>
  <title>PersonalBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>


<div class="columns tweleve">
  <a class="navbar-brand" style="color: grey;" href="/">Kendra's Blog</a>
  <a href="/"><img src="../assets/house.png" class="home-btn" /></a>

</div>
<div class="container">
  <%= yield %>

</div>

</body>
</html>
