<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title><%= yield(:title) %></title>
</head>
<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>


<div class="columns tweleve">
  <a class="navbar-brand" style="color: grey;" href="/">Kendra's Blog</a>
  <a href="/" > <%= image_tag("house.png", size: "25x25") %></a>  

</div>
<div class="container">
  <%= yield %>

</div>

</body>
</html>
